<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Rejestracja</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label position="floating" color="primary">e-mail</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">hasło</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">potwierdź hasło</ion-label>
            <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>
    </ion-list>
    <div class="ion-text-center">
        <ion-button (click)="register()" color="primary">Zarejestruj się</ion-button>
    </div>
</ion-content>