<ion-content>
</ion-content>
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="qod">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Strona Główna</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quotes">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Wysz. Cytaty</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-quotes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Ulub. Cytaty</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
