<ion-content>
  <ion-grid>
    <ion-row size="1">
      <ion-col size="1">
      </ion-col>
      <ion-col>
        <ion-icon name="book-outline"></ion-icon> Quotes
      </ion-col>
    </ion-row>
    <ion-row size="3">
      <ion-col class="ion-text-center">
        <h1>Znajdź znane cytaty</h1>
        <h1>oraz je zapisz i wykorzystaj</h1>
      </ion-col>
    </ion-row>
    <ion-row size="3">
      <ion-col>
        <ion-button href="/login" fill="outline" color="dark" class="ion-margin-top">Zaloguj się</ion-button>
        <ion-button href="/register" color="dark">Zarejestruj się</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
